** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    background-size: 300% 300%;
    animation: bgMove 12s ease infinite;
    color: white;
}

/* Animación del fondo */
@keyframes bgMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #00f5ff;
}

/* HERO */
.hero {
    text-align: center;
    padding: 120px 20px;
}

.hero h1 {
    font-size: 52px;
    background: linear-gradient(90deg, #ff00cc, #00f5ff, #00ff88);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    color: #ddd;
    margin: 20px 0;
}

/* BOTÓN */
.btn {
    background: linear-gradient(90deg, #ff00cc, #00f5ff);
    color: white;
    padding: 14px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.4s;
    display: inline-block;
}

.btn:hover {
    transform: scale(1.08);
    box-shadow: 0 0 20px #00f5ff;
}

/* SERVICIOS */
.servicios {
    padding: 100px 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(15px);
    padding: 30px;
    width: 280px;
    border-radius: 20px;
    transition: 0.4s;
    border: 1px solid rgba(255,255,255,0.1);
}

.card:hover {
    transform: translateY(-12px) scale(1.03);
    box-shadow: 0 0 25px #ff00cc;
}

/* STATS */
.stats {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 180px 20px 280px 20px; /* GRAN espacio abajo */
    text-align: center;
}

.stats h3 {
    font-size: 36px;
    background: linear-gradient(90deg, #00ff88, #00f5ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* CONTACTO */
.contacto {
    padding: 200px 20px 150px 20px; /* GRAN espacio arriba */
    text-align: center;
}

.contacto h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.contacto p {
    margin-bottom: 30px;
    color: #ccc;
}

/* FOOTER */
footer {
    padding: 30px;
    text-align: center;
    background: rgba(0,0,0,0.6);
    color: #aaa;
}
